{% extends 'base.html.twig' %}

{% block title %}Video Dev{% endblock %}

{% block body %}

<div class="container">
{# {% for movie in movies %} #}

<div class="col-sm-3 mt-3 g-2">
    <a href="">
    {# {{ path('details/{{ movie.id }}') }} #}
        <img src="" alt="affiche de film" class="w-100">
        {# {{ movie.image }} #}
    </a>
</div>

{# {% endfor %} #}
</div>
{% endblock %}
