{% extends 'base.html.twig' %}

{% block title %}Video Dev{% endblock %}

{% block body %}

<div class="container">
<div class="row">
{% for movie in movies %}
{{ loop.index == 0 }}
{% if loop.index == 5 %}
{{ loop.index == 0 }}
</div>
<div class="row">
{% endif %}

<div class="col-lg-3 my-3 g-4">
    <a href="details/{{ movie.id }}">
        <img src="assets/affiches-film/{{ movie.image }}" alt="affiche de film" class="h-100 w-100">
    </a>
</div>

{% endfor %}
</div>
</div>
{% endblock %}
