{% extends 'base.html.twig' %}

{% block title %}Vidéothèque{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md h1 fw-bold m-5 p-5">You're Welcome</div>
			<div class="col-md m-5 p-5">
				<div class="h4">A big website to watch your movies{% if app.user %} {% else %}
					<span><a href="{{path('app_login')}}" class="stretched-link">Log In</a></span>{% endif %}</div>
					<img style="width:400px" src="{{asset('/assets/affiches-film/dune.jpg')}}">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
