<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0">
	<div class="container-fluid">


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav  mt-0 me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="./home">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
							<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
						</svg>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/liste">Liste des films</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./register">Nouveau compte</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./login">Connexion</a>
				</li>
				{% if app.user %}
				{% if app.user.roles[0] == "admin" %}
				<li class="nav-item">
					<a class="nav-link" href="/admin">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
				{% endif %}
				{% endif %}

			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
