body {
  background-image: url("../img/test-image.jpg");
  height: 100%;
  color: blue;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5000;
}
.bg-test {
  background-color: green;
}
.bg-blanc {
  background-color: #f8f0fb;
}
.bg-bleu {
  background-color: #253c78;
}
.bg-noir {
  background-color: #131200;
}
.bg-cyan {
  background-color: #759aab;
}
.bg-rouge {
  background-color: #a54657;
}
