body {
  background-image: url("../img/test-image.jpg");
  height: 100%;
  color: blue;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5000;
}
